/.idea/
/.venv/
__pycache__/
*.py[cod]
/src/config_local.py
/src/__pycache__/
/data/*.db
/data/*.db-shm
/data/*.db-wal
/data/*.csv
/members.db
/members.db-shm
/members.db-wal
/members.csv
/member*.csv
/club_members.db
/club_members.db-shm
/club_members.db-wal
/club_members.csv
/club_users.db
/club_users.db-shm
/club_users.db-wal
/club_users.csv
/checkins.csv
/checkin*.csv
/unifi-experiments.iml
/meter.db
/meter.db-shm
/meter.db-wal
/run
