[Unit]
Description=Weekly UniFi usage manager database backup

[Timer]
OnCalendar=Mon *-*-* 02:00:00
Persistent=true

[Install]
WantedBy=timers.target
